*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  font-size: 62.5%;
}

html, body{
  width: 100vw;
  height: 100vh;
}

body{
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
}

/* ###### HEADER ####*/

#search_box, #user, header{
  display: flex;
  justify-content: space-between;;
}

header{
  height: 10rem;
  padding: 2rem;
}

a #logo{
  padding: 1.5rem;
  width: 12rem;
  position: absolute;
}

svg{
  height: 2.5rem;
  width: 2.5rem;
  margin: 2rem 1rem;
  cursor: pointer;
}

#search_box, #user{
  align-items: center;
}

#search_box{
  background-color: gainsboro;
  border-radius: 30rem;
  padding-inline: 2rem;
  width: 60%;
  position: absolute;
  left: 17rem;
  height: 6rem;
}

#search_box p{
  font-size: 2rem;
}

#user p{
  background-color: rgba(255, 50, 50, 0.727);
  padding: 1rem;
  border-radius: 50%;
  margin-inline: 1rem;
  font-weight: bold;
  cursor: pointer;
}

#user svg:hover{
  box-shadow: 0rem 0rem 0.5rem 0.5rem gainsboro;
  border-radius: 50%;
}

/* ###### NAV ####*/

nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
  padding-left: 18rem;
}

nav ul li, nav ul li a {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

nav ul li{
  padding-bottom: 1rem;
}

nav ul li:nth-child(1){
  color: rgb(87, 87, 255);
  font-size: 2rem;
  font-weight: bold;
  border-bottom: solid rgb(87, 87, 255) 0.5rem;
}

nav ul li:nth-child(7){
  margin-left: 2rem;
}

nav ul li img, nav ul li svg{
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem 0 0;
}

/* ###### MAIN ####*/

main{
  width: 60%;
  margin-left: 18rem;
}

#info{
  margin-block: 1rem;
  font-weight: lighter;
}

/* ###### RESULTS ####*/

.results{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.result{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.path a, .link a{
  text-decoration: none;
}

.path a{
  color: black;
  font-weight: bold;
}

span{
  font-weight: lighter;
}

.link{
  font-size: 2rem;
}

.about{
  line-height: 1.5;
}